.feature-card{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
    color: #000;
    background-color: #fff;
    transition: all 0.5s ease-in-out ;
    padding: 90px 40px;
}

.feature-card-header{
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 103.846% */
}
.feature-card-text{
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
}
.red{
    background-color: #F50103;
    color: #fff;
}